Repository cremich/promptz-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["jest --findRelatedTests --passWithNoTests"]
}

refactor: defintions and queries in separate files
  src/definitions.ts
  src/graphql-client.ts
  src/index.ts
  src/queries.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: add file-based logger implementation
  src/graphql-client.ts
  src/index.ts
  src/logger.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: encapsulate prompts formatting into a separate component
  src/__tests__/example.test.ts
  src/__tests__/formatter.test.ts
  src/definitions.ts
  src/formatter.ts
  src/index.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

build: prepare package.json for npm release
  README.md
  package.json
Due: prettier --write

ci: setup release workflow
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: prettier --write

feat: refactor tools to separate module
  src/__tests__/tools.test.ts
  src/index.ts
  src/prompts.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: refactor prompts to separate module
  src/__tests__/prompts.test.ts
  src/index.ts
  src/prompts.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: use graphql client with caching support
  package-lock.json
  package.json
  src/graphql-client.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: support filtering prompts by tag
  README.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  src/__tests__/tools.test.ts
  src/graphql-client.ts
  src/index.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: bump version to 1.0.0
  package.json
Due: prettier --write

chore: finalize version 1.0.0
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: add --access public for scoped packages
  .github/workflows/release.yml
Due: none

chore: bump version to 1.0.1
  package.json
Due: prettier --write

fix: sh: promptz-mcp: command not found when running via npx
  package-lock.json
  package.json
Due: prettier --write

fix: deactivate prompts concept due to polling behaviour in claude desktop
  package.json
  src/index.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: add author and howto to prompt response
  package.json
  src/__tests__/tools.test.ts
  src/index.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: add project rule support
  package.json
  src/__tests__/tools.test.ts
  src/definitions.ts
  src/graphql-client.ts
  src/index.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Add Dockerfile
  Dockerfile
Due: none

Add Smithery configuration
  smithery.yaml
Due: none

Update README
  README.md
Due: prettier --write

docs: update readme after Q developer MCP support [skip ci]
  README.md
Due: prettier --write

docs: add license [skip ci]
  LICENSE
Due: none

Add MseeP.ai badge to README
  README.md
Due: prettier --write

build: bump package versions
  package.json
Due: prettier --write

feat: migrate listPrompts query to searchPrompts query
  memory-bank/.clinerules
  memory-bank/activeContext.md
  memory-bank/productContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  package.json
  src/__tests__/prompts.test.ts
  src/__tests__/tools.test.ts
  src/definitions.ts
  src/graphql-client.ts
  src/prompts.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

refactor: from listProjectRules to searchProjectRules
  src/__tests__/tools.test.ts
  src/definitions.ts
  src/graphql-client.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

refactor: fetching individual prompts and rules with new api schema
  src/__tests__/tools.test.ts
  src/definitions.ts
  src/graphql-client.ts
  src/queries.ts
  src/tools.ts
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: sync npm packages
  package-lock.json
Due: prettier --write
